<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/css/uikit.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit-icons.min.js"></script>
</head>
<body>
</body>
</html>

<div class="uk-section uk-section-muted uk-flex uk-flex-middle uk-animation-fade" uk-height-viewport>
    <div class="uk-width-1-1">
        <div class="uk-container">
            <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
                <div class="uk-width-1-1@m">
                    <div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
                        {% if existEmail == False %}
                        <div class="uk-alert-danger" uk-alert>
                            <a class="uk-alert-close" uk-close></a>
                            <p>The email account you are looking for, does not exist.</p>
                        </div>
                        {% endif %}
                        <h3 class="uk-card-title uk-text-center">Please enter your email to reset your password.</h3>
                        <form method="post">
                            <div class="uk-margin">
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon" uk-icon="icon: mail"></span>
                                    <input name="email" class="uk-input uk-form-large" type="text" placeholder="email"
                                           value="">
                                </div>
                            </div>
                            <div class="uk-margin">
                                <button style="background-color: orange;"
                                        class="uk-button uk-button-primary uk-button-large uk-width-1-1">Send Email
                                </button>
                            </div>
                            <div class="uk-text-small uk-text-center">
                                Remembered your password? <a href="{{ url_for('login') }}">Login now!</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
